.ant-select-selection{
    border:none
}
.input{
    width:160px;border:none;height:32px;color:#000;background:#fff;font-size:14px;float:left;margin-right: 55px;
}  
.input::-webkit-input-placeholder{
    color:#000;
}
.input::-moz-placeholder{  
    color:#000;
}
.input:-moz-placeholder{    
    color:#000;
}
.ant-popover-inner-content{
    padding: 0;
}
.input:-ms-input-placeholder{ 
    color:#000;
} 
.inputshow{
    border: 1px solid rgba(0,0,0,.15);
} 

.hidden{
    display: none;
}
.ant-select-disabled{
    color:#000;
}
.ant-select-lg .ant-select-selection--single{
    height: 32px;
}
.ant-select-open .ant-select-selection{
    box-shadow: 0 0 0 0!important;
    border-color: #fff;
}
.ant-select-selection:focus{
    box-shadow: 0 0 0 0!important;
}
.ant-select-arrow{
    right: 67px;
    color:#000
}
.fontsize22{
    font-size: 22px;
}
.ant-select-lg .ant-select-selection__rendered{
    line-height: 32px;
}
.ant-select-disabled .ant-select-selection {
    background: #fff;
}
.ant-upload{
    width: 58px!important ;
    height: 58px!important;
}
 .show .ant-select-arrow{
   display: none;
}