
.ant-table-tbody > tr:hover{
    background:rgba(0, 0, 0, 0.1)
}
 .ant-table-pagination  .ant-pagination{
     margin: 16px 30px;
 }
.ant-layout-sider-zero-width-trigger{
    z-index: 100;
}
.ant-table-row:hover{
    background: #eee!important;
}
.ant-table-row::selection{
    background: #eee!important;
}
.ant-table-tbody tr::selection{
    background: red!important;
}
